<div class="content-section cadastro-section">

    <div class="login-header">
        <div class="logo-placeholder">
            <img src="imgs/gloob.png" height="100px">
        </div>
        <div class="letras-cadastro">
        <h2>Criar conta</h2>
        </div>
    </div>

    <form (ngSubmit)="cadastrar()">

        <div class="form-group name-row">

            <input id="name" type="text" name="nome" placeholder="Nome" [(ngModel)]="nome" required>

            <input id="sobrenome" type="text" name="sobrenome" placeholder="Sobrenome" [(ngModel)]="sobrenome" required>
            
        </div>
        <div class="form-group">

            <input id="cpf" type="text" name="cpf" placeholder="CPF" [(ngModel)]="cpf" required>
        </div>

        <div class="form-group">

            <input id="email" type="email" name="email" placeholder="seu@email.com" [(ngModel)]="email" required>
        </div>

        <div class="form-group">

            <input id="password" type="password" name="senha" placeholder="Senha" [(ngModel)]="senha" required>
        </div>

        <div class="form-group">
            <input id="confirm-password" type="password" name="confirmarSenha" placeholder="Digite a senha novamente"
                [(ngModel)]="confirmarSenha" required>

        </div>

        
        <button type="submit" class="aero-button">
            Criar conta
        </button>
        

    </form>

    @if (erro) {
    <p role="alert">{{ erro }}</p>
    }

    @if (mensagem) {
    <p role="status">{{ mensagem }}</p>
    }

    <div class="form-footer">
        <span>Já possui uma conta?</span>
        <nav><a routerLink="/login">Entrar</a></nav>
    </div>
</div>
